@charset "UTF-8";

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Lobster', cursive; */
/* font-family: 'Noto Sans JP', sans-serif; */

/* resetar página */

* {
  margin: 0;
  padding: 0px;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  text-align: justify;
}

body {
  min-height: 100vh;
}

/* Letras */
h1 {
  text-align: center;
  font-size: 3em;
  font-family: "Lobster", cursive;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.6em;
  font-family: "Lobster", cursive;
  border: 1px solid #634b7a;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: #634b7a;
}

h2:hover {
  color: black;
  border: 1px solid black;
}

p {
  font-size: 1.2em;
  text-indent: 50px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  
}


/* Select */

select {
  appearance: none;
  background-color: transparent;
  background-position: 218px center;
  width: 150px;
  height: 30px;
  border-radius: 3px;
}

select option {
  background-color: #b4a3c5;
}

.conteudo {
  min-height: 100vh;
}

/* pagina 1 */

#pagina1 {
  min-height: 100vh;
  background-image: url(../img/fundo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 60%;
  margin: auto;
  transform: translateX(-20%);
}

#conteudo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  transform: translateX(-10%);

}

#cardapios {
  width: 100%;
  display: flex;
  justify-content: center;
}

.itensPizza {
  display: flex;
  min-width: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

#sabor1, #sabor2 {
  display: none;
}

#saboresIguais {
  font-size: 1.0em;
  max-width: 50%;
}

#btn-pedido {
  display: flex;
  justify-content: center;
  width: 100%;
}


#btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* pagina 2 */

#pagina2 {
  display: none;
  width: 100%;
  background-image: url(../img/fundo2.jpg);
}

/* pagina 3 */

#pagina3 {
  display: none;
  background-image: url(../img/fundo3.jpg);
}


/*  */