@charset "UTF-8";

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Lobster', cursive; */
/* font-family: 'Noto Sans JP', sans-serif; */

/* resetar página */

* {
  margin: 0;
  padding: 0px;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

body {
  min-height: 100vh;
}

/* Letras */
h1 {
  text-align: center;
  font-size: 3em;
  font-family: "Lobster", cursive;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.6em;
  font-family: "Lobster", cursive;
  border: 1px solid #634b7a;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: #634b7a;
}

h2:hover {
  color: black;
  border: 1px solid black;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  
}


/* Select */

select {
  appearance: none;
  background-color: transparent;
  background-position: 218px center;
  width: 150px;
  height: 30px;
  border-radius: 3px;
}

select option {
  background-color: #b4a3c5;
}

.conteudo {
  min-height: 100vh;
}

/* pagina 1 */

#pagina1 {
  min-height: 100vh;
  background-image: url(../img/fundo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 60%;
  margin: auto;
  transform: translateX(-20%);
}

#conteudo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  transform: translateX(-10%);
  width: 65%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  padding: 20px 0px 20px;

}

#cardapios {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.itensPizza {
  display: flex;
  min-width: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

#sabor1, #sabor2 {
  display: none;
}

#saboresIguais {
  display: none;
  font-size: 1.0em;
  min-width: 50%;
  transform: translateX(15%);
  text-align: center;
}

#btn-pedido {
  display: flex;
  justify-content: center;
  width: 100%;
}


.btn-saborpedido {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
  padding: 4px;
  border: 1px solid black;
  color: black;
}
/* pagina 2 */

#pagina2 {
  display: none;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/fundo2.jpg);
}

#conteudo-pg2 {
  
  width: 50%;
  margin: auto;
  text-align: center;
  transform: translateX(-30%);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}

#informacoesPedido {
  margin-top: 20px;
}


/* pagina 3 */

#pagina3 {
  display: none;
  background-image: url(../img/pagina3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.corpo-pg3 {
  width: 80%;
  margin: auto;
}

h4 {
  padding-top: 50px;
  font-size: 1.6em;
}

#conteudo-pg3 {

  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

#cont1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: flex-start;
  margin-top: 40px;
  padding: 0px 80px 0px 0px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}

.cont-input1 {
  width: 40%;
  justify-content: center;
  margin: 20px 40px;
}

#cont2 {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: flex-end;
  padding: 0px 100px 0px 0px;
  margin-top: 40px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black
}

.cont-input2 {
  width: 40%;
  justify-content: center;
  margin: 20px 80px;
}


input {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 3px;
}

#pedidoFinal-pg3 {
  min-width: 400px;
  width: 50%;
  margin-left: 50%;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: -2px -2px 5px black;
}
#pedidoFinal-pg3 P{
  font-weight: 600;
}
